.doctor{
    padding:20px;
    background-color: #66FFFF;
    border-radius: 2em 2em 0 2em; /*forma del messaggio con l'angolo inferiore destro a punta*/
    color:black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*le successive tre righe permettono di avere il 
    messaggio del doc a dx dello schermo*/
    max-width: 700px; 
    margin:7px 7px 5px 30%;
    text-align: right;
}
.ai{
    padding:20px;
    margin:5px 7px 5px 7px;
    background-color:#009999;
    border-radius: 2em 2em 2em 0; /*forma del messaggio con l'angolo inferiore sinistro a punta*/
    color:black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 700px;
}