.total {
    width: 1000px;
    position: static;
    background-color: white;
    padding-top: 0px;
    padding-bottom: 0px;
}

.paper {
    height: 450px;
    overflow-y: scroll;
}

/*decori scrollbar*/
/* width */
.paper::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
.paper::-webkit-scrollbar-thumb {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(.5, #20c7ca71), color-stop(1, #00999991));
    border-radius: 10px;
    border-radius: 10px;
}

/* Handle on hover */
.paper::-webkit-scrollbar-thumb:hover {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(.5, #20c7ca), color-stop(1, #009999));
}

.gruppoMess {
    background-color: white;
    box-shadow: none;
}

/*barra inferirore per scrivere la domanda e inviarla*/
.input {
    padding: 20px;
    background-color: rgb(209, 209, 209);
}

.textField {
    border-radius: 7px;
    background-color: whitesmoke;
    border: solid;
    border-color: #00FFFF;
    width: 950px;
}

.button {
    border-radius: 150px;
    padding: 3px;
    background-color: #009999;
    border: solid;
    border-color: #00FFFF;
}

.button:hover {
    background-color: #02d1d1;
}

/*Scritta di benvenuto nell'header*/
.typography {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

/*sfondo header*/
.card_header {
    display: flex;
    background-color: #009999;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 0px;
}

.box {
    display: flex;
    flex-direction: column;
}

.cardContent {
    flex: 1 0 auto;
}