.button {
    border-radius: 80px;
    background-color: #009999;
    border: solid;
    border-color: #00FFFF;
    text-align: center;
    height: 61px;
}

.button:hover {
    background-color: #02d1d1;
}